<style>
.message {
  height: auto;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}
.message:nth-child(even) {
  background: #CCCCCC;
}
</style>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= link_to "Uitloggen", destroy_user_session_path, :method => :delete %>
<%= link_to "Profiel aanpassen", edit_user_registration_path %>
<h1>Bericht versturen</h1>
<%= form_tag({controller: "messages", method: "create"}) do %>
  <p>
    <%= hidden_field :messages, :name, :value => current_user.username  %>
  </p>
 
  <p>
    <%= label_tag(:Bericht) %>
    <%= text_field(:messages, :content) %>
  </p>
 
  <p>
    <%= submit_tag("Versturen") %>
  </p>
<% end %>


<h1>Berichten</h1>

<% @message.each do |m| %>
  <div class="message">
    <b><%= m.name %></b><br>
    <%= m.content %><br>
  </div>
<% end %>