<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Change your password", edit_user_registration_path %>
<h1>Messages#new</h1>
<%= form_tag({controller: "messages", method: "create"}) do %>
  <p>
    <%= label_tag(:name) %>
    <%= text_field(:messages, :name) %>
  </p>
 
  <p>
    <%= label_tag(:content) %>
    <%= text_field(:messages, :content) %>
  </p>
 
  <p>
    <%= submit_tag("Search") %>
  </p>
<% end %>


<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>

<% @message.each do |m| %>
	<%= m.name %><br>
	<%= m.content %><br><hr>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>